html{
    background: #e3e3e3;}
body {
font-family: Arial, Helvetica, sans-serif;
margin: 40px;
padding: 40px ;
color: #242424;
border-top: 10px solid #242424;
background: #fff;
}

h1 {
font-size: 3em;
margin: 0;
}


h2 { 
    font-size: 1em;
    margin: 0;
}

p{
    line-height: 1.4em;
}

#real {

broder-top: 1px dotted #ccc

}

.burnout {
border-bottom: 1px dotted #ccc;

}

a[time] { 
    font-family: 'Courier New', Courier, monospace;
    font-size: 1px ;
}

.trippy{
font-size: 1em;

}